* {
    box-sizing:border-box
}

body {
    font-family: 'Amatic SC';
    background-color: #d3d3e3;
    font-weight: 700;

    
}

header {
    font-weight: 700;
    text-align: center;
}

img {
    height: 400px;
    width: 400px;
}

/* Media Queries */

